* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.5;
    color: #474747;
    background-color: #ffffff;

}

.container {
    padding: 1.5rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.app {
    display: flex;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    margin-bottom: 1.45rem;
}

.app > .left {
    margin-right: 1.75rem;
}

.app > .left > .icon {
    width: 4.1rem;
    background: #5865f2;
    border-radius: 20%;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
}

.app > .right > .name {
    font-size: 1.45rem;
    font-weight: 500;
    line-height: 1.1;
    color: #1f1f1f;
    margin-bottom: 0.25rem;
}

.app > .right > .vendor {
    color: #00875f;
    font-weight: 500;
}

.info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 1.65rem;
}

.info > div {
    text-align: center;
}

.info > div > span {
    display: block;
}

.info > div > span:first-child {
    font-weight: 400;
    font-size: .9rem;
    color: #1f1f1f;
}

.info > div > span > svg {
    height: 1.7rem;
    vertical-align: middle;
    margin-top: -0.25rem;
}

.info > .vr {
    background: #dbdce0;
    width: 0.1rem;
    height: 1.5rem;
}

.btn-install {
    display: block;
    background: #00875f;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 0.55rem 1rem;
    border-radius: 0.2rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
}

.btn-install:hover {
    background: #026a4c;
}

.screens {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    margin-bottom: 0.75rem;
    margin-right: -1.5rem;
}

.screens a {
    display: block;
    margin-right: .7rem;
    width: 5rem;
    min-height: 10.2rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
    overflow: hidden;
    padding: 0;
    background: #dbdce0;
}

.screens a > img {
    display: block;
    width: 100%;
    height: 100%;
}

.screens .carousel__dots, .screens .carousel__nav {
    display: none;
}

.fancybox__toolbar {
    background: transparent;
}

.fancybox__slide {
    padding: 8px;
}

.block {
    margin-bottom: 2rem;
}

.block > .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: #1f1f1f;
    margin-bottom: 1rem;
}

.block > .title > svg {
    width: 1.75rem;
}

.tags {
    margin-bottom: 2rem;
}

.tags > span {
    display: inline-block;
    font-weight: 400;
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
    border: 0.1rem solid #c7c7c7;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .btn-install {
        position: absolute;
        z-index: 999;
        top: 2.75rem;
        right: 1.5rem;
        min-width: 10rem;
        margin-bottom: 0;
    }

    .screens a {
        width: 8rem;
    }
}

@media (min-width: 992px) {
    .screens {
        margin-right: 0;
    }

    .screens a {
        width: 10rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .screens a {
        width: 12rem;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .screens a {
        width: 14rem;
    }
}

[dir="rtl"] .app > .left {
    margin-right: 0;
    margin-left: 1.75rem;
}

[dir="rtl"] .screens {
    margin-right: 0;
    margin-left: -1.5rem;
}
[dir="rtl"] .screens a {
    margin-right: 0;
    margin-left: 0.7rem;
}

[dir="rtl"] .block > .title > svg {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

[dir="rtl"] .tags > span {
    margin-right: 0;
    margin-left: 0.5rem;
}

@media (min-width: 768px) {
    [dir="rtl"] .btn-install {
        right: auto;
        left: 1.5rem;
    }
}

@media (min-width: 992px) {
    [dir="rtl"] .screens {
        margin-left: 0;
    }
}